@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,700;1,800&display=swap');

$light-color: #dadada;
$accent-color: #FFBC00;

body {
	font-family: "Poppins", sans-serif;
	display: block;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #000;
	color: #fff;
	font-size: 20px;

	.main {
		position: relative;
	}

	#introduction {
		z-index: 4;
		width: 1200px;
		height: auto;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 45%;
		left: 50%;

		.info {
			color: #fff;
			width: 100%;
			position: relative;

			h1 {
				margin: 5px auto 20px;
				text-transform: uppercase;
				font-size: 60px;
				color: $accent-color;
			}

			.banner {
				position: absolute;
				right: 0;
				top: -45%;

				@media screen and (max-width: 1199px) {
					position: initial;
				}

				* {
					@media screen and (max-width: 1199px) {
						margin: auto;
					}
				}
			}

			i {
				color: $light-color;
				font-size: 1.5em;

				&:hover {
					color: $accent-color !important;
				}
			}

			.social-profiles {
				margin-top: 30px;

				a {
					margin-right: 10px;
					text-decoration: none;
				}
			}
		}
		@media screen and (max-width: 1199px) {
			text-align: center;
			width: 100%;
		}
	}
}

#particles-js {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

div, section, article {
	z-index: 2;
}

h1 {
	color: #fff;
}